@model PagedList.IPagedList<MirokuLearning.AppModel.Views.ItemViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Item Page";
}

<h2>Items</h2>

<p>
    @Html.ActionLink("Create New", "CreateItem")
</p>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Find by keyword: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Item Id
        </th>
        <th>
            Item Code
        </th>
        <th>
            Item Name
        </th>
        <th>
            Item Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditItem", new { id = item.ItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))